*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	justify-content:center;
}

img{
	padding:0;
	margin:0;
	
	width:80px;
	height:10vh;
	border-radius:50px;
}
nav{
	background-color:transparent;
	color:white;
	width:100%;
	padding:2em;
	align-items:center;
	
}

nav ul li{

margin-top:10px;	
	display:flex;
	float:right;
		flex-wrap:wrap;
	padding:1em;
		list-style:none;
		font-size:20px;
		cursor:pointer;
		
	
}



nav ul li:hover{
	color:#63C5DA;
	
}

.code{
	position:absolute;
	top:250px;
	right:370px;
	bottom:-150px;
	color:white;
	font-size:30px;
	font-style:;
	
}

.code h2{
	font-size:80px;
	
}


header{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("Gallery/2.jpeg");
	background-position:center;
	height:100vh;
	background-size:cover;
}

.btn{
	 position:absolute;
	 right:240px;
	width:170px;
	height:7vh;
	background-color:#63C5DA;
	border:none;
	border-radius:40px;
	color:white;
	font-size:18px;
}

.btn:hover{
	background-color:white;
	color:#63C5DA;
}

.container{
	background-color:#160d08;
padding:5em;
	width:100%;
	height:65vh;
	color:white;
	justify-content:evenly;
	align-items:center;
}

.container1{
	font-size:20px;
	margin-left:30px;
	align-items:center;
	background-color:white;
	width:300px;
	height:47vh;
	color:black;
	border-radius:12px;
position:absolute;
bottom:-370px;

}

.container .container1 h5{
	margin:5px;
	position:absolute;
	bottom:200px;
	left:100px;
font-size:30px;
}
.container .container1 p{
	margin:5px;
	position:absolute;
	bottom:90px;
	left:30px;
	font-weight:100px;

}

.container2{
	
	font-size:20px;
	margin-left:450px;
	align-items:center;
	background-color:white;
	width:300px;
	height:47vh;
	color:black;
	border-radius:12px;
position:absolute;
bottom:-370px;
}


.container .container2 h5{
	margin:5px;
	position:absolute;
	bottom:200px;
	left:100px;
font-size:30px;
}

.container .container2 p{
	margin:5px;
	position:absolute;
	bottom:60px;
	left:40px;
	font-weight:100px;

}



.container3{
	
	font-size:20px;
	margin-left:850px;
	align-items:center;
	background-color:white;
	width:300px;
	height:47vh;
	color:black;
	border-radius:12px;
position:absolute;
bottom:-370px;
}


.container .container3 h5{
	margin:5px;
	position:absolute;
	bottom:210px;
	left:100px;
font-size:30px;
}
.container .container3 p{
	
	padding:1em;
	margin:5px;
	position:absolute;
	bottom:-8px;
	left:30px;
	
	font-weight:100px;

}



.message-container{
	background-color:#28231d;
	height:80vh;
	color:white;
	align-items:center;
	
}

.message-container .message h2{
	position:absolute;
	right:350px;
	bottom:-550px;
	font-size:65px;
		
}


.message-container .message h3{
	position:absolute;
	right:90px;
	bottom:-650px;
	font-size:20px;
	font-style:italic;
	
}

.message-container .message img{
	position:absolute;
	bottom:-920px;
	right:600px;
	width:200px;
	height:30vh;
	border-radius:50%
}

.message h4{
	position:absolute;
	bottom:-950px;
	right:590px;
	font-size:20px;
	font-style:italic;
	
}

.message h5{
	position:absolute;
	bottom:-980px;
	right:590px;
	font-size:15px;
	padding:-1em;
}


.ads-container{
	
	background:gainsboro;
	color:black;

	height:60vh;
}

.ads-container .ads{
position:absolute;
	bottom:-1250px;
	right:300px;
	
}

.courses{
	
background:linear-gradient(to bottom,#63C5DA -60%, #63C5DA -100%, black 50%, black 83%, black 23%,gainsboro 100%);
height:350vh;

}

.box{
	background-color:linear-gradient(to bottom,#63C5DA -40%, #63C5DA -100%, black 80%, black 90% );
	width:90%;
	height:20vh;
	border-radius:14px;
	
box-shadow:0px 0px 3px 3px;
	color:white;
	padding:2em;
	text-align:center;
	font-size:25px;
	font-family:Arial,sans-serif;
	cursor:pointer;
}

.box:hover{
	background-color:#63C5DA;
	cursor:pointer;
}

.course-outline{


	--num-cols: 3;
	--row-height: 150px;
	

	box-sizing: border-box;
	padding:3em;
	gap:1em;

	display:grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	
}	


.lesson h2{
	display:flex;
	float:right;
	padding:2em;
	color:white;
	font-size:70px;
	font-family:Quicksand,sans-serif;
}


.lesson h3{
	position:absolute;
	bottom:-2950px;
	left:42em;
	
	display:flex;
	float:right;
	padding:3em;
	color:white;
	font-size:15px;
	font-family:Quicksand,sans-serif;
}



.articles h2{
	color:white;
	position:absolute;
	bottom:-3300px;
	right:450px;
	font-size:70px;
	font-family:Quicksand,sans-serif;		
}

.articles h3{
	
	color:white;
	position:absolute;
	bottom:-3400px;
	right:190px;
	font-size:20px;
	font-family:Quicksand,sans-serif;	

}

.articles h4{
color:white;
position:absolute;
bottom:-3590px;
right:700px;
font-size:20px;
}

.articles a{
	color:white;
position:absolute;
right:10px;
bottom:-100px;
text-transform:uppercase;
text-decoration:none;
}

.articles a:hover{
color:green;
text-decoration:none;
}


.comments{
height:120vh;
}

.comments .h2{
	padding:60px;

	position:absolute;
	right:190px;
	bottom:-4000px;
	font-size:40px;
	font-family:Quicksand,sans-serif;
	
}


.comments .message1{


width:500px;
height:30vh;
	color:black;

box-shadow:0px 5px 7px 0px;
padding:2em;

}

.message-container1{
display:flex;
flex-wrap:wrap;
box-sizing:border-box;
margin-bottom:-20px;
gap:3em;
padding:3em;
background-color:white;
		cursor:pointer;
}


.message-container1 :hover{
	box-shadow:0px 9px 5px 0px;
	cursor:pointer;
}

.message-container1 .message1 h6{
	position:absolute;
	bottom:-4250px;
	right:990px;
	font-family:Quicksand,sans-serif;
}





footer{
	background:	#63C5DA;
	height:30vh;
	color:white;
	padding:3em;
}

footer li{
	list-style:none;
	padding:0.3em;
}


